In [59]:
import pandas as pd

df = pd.read_csv("20170308hundehalter.csv")
df.head()

,HALTER_ID,ALTER,GESCHLECHT,STADTKREIS,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND,HUNDEFARBE
0,126,61-70,m,9.0,92.0,Welsh Terrier,NaN,NaN,NaN,K,2011,w,schwarz/braun
1,171,61-70,m,3.0,31.0,Berner Sennenhund,NaN,NaN,NaN,I,2009,m,tricolor
2,574,61-70,w,2.0,23.0,Mischling gross,NaN,NaN,NaN,I,2013,w,schwarz
3,695,41-50,m,6.0,63.0,Labrador Retriever,NaN,NaN,NaN,I,2012,w,braun
4,893,61-70,w,7.0,71.0,Mittelschnauzer,NaN,NaN,NaN,I,2010,w,schwarz

In [60]:
df = df.rename(columns = {'HALTER_ID':'ID', 'ALTER':'Age', 'GESCHLECHT':'Gender', 'STADTKREIS':'Town', 'STADTQUARTIER':'District', 'RASSE1':'Race_1', 'RASSE2':'Race_2', 'GEBURTSJAHR_HUND':'Dog_Bday', 'GESCHLECHT_HUND':'Dog_Gender', 'HUNDEFARBE':'Color'})

In [61]:
df.head()

,ID,Age,Gender,Town,District,Race_1,RASSE1_MISCHLING,Race_2,RASSE2_MISCHLING,RASSENTYP,Dog_Bday,Dog_Gender,Color
0,126,61-70,m,9.0,92.0,Welsh Terrier,NaN,NaN,NaN,K,2011,w,schwarz/braun
1,171,61-70,m,3.0,31.0,Berner Sennenhund,NaN,NaN,NaN,I,2009,m,tricolor
2,574,61-70,w,2.0,23.0,Mischling gross,NaN,NaN,NaN,I,2013,w,schwarz
3,695,41-50,m,6.0,63.0,Labrador Retriever,NaN,NaN,NaN,I,2012,w,braun
4,893,61-70,w,7.0,71.0,Mittelschnauzer,NaN,NaN,NaN,I,2010,w,schwarz

In [62]:
df.isna().sum()

ID                     0
Age                    1
Gender                 0
Town                   1
District               1
Race_1                 0
RASSE1_MISCHLING    6537
Race_2              6612
RASSE2_MISCHLING    7155
RASSENTYP              0
Dog_Bday               0
Dog_Gender             0
Color                  0
dtype: int64

In [63]:
df = df.drop(columns=['RASSE1_MISCHLING', 'RASSE2_MISCHLING', 'RASSENTYP'])

In [64]:
df['Gender'].value_counts()

w    4958
m    2197
Name: Gender, dtype: int64

0.30705800139762407

In [65]:
df['Age'].value_counts()

51-60     1547
41-50     1489
31-40     1383
61-70     1041
21-30      789
71-80      673
81-90      172
11-20       45
91-100      15
Name: Age, dtype: int64

In [66]:
df['Race_1'].value_counts()

Mischling klein           620
Chihuahua                 516
Labrador Retriever        439
Yorkshire Terrier         298
Jack Russel Terrier       290
                         ...
Daisy-Dog                   1
Chodsky pes                 1
Harzer Fuchs                1
Curly Coated Retriever      1
Laufhund                    1
Name: Race_1, Length: 304, dtype: int64

In [68]:
df['Dog_Bday'].value_counts()

2012    628
2014    590
2013    576
2010    576
2009    542
2015    539
2011    527
2016    508
2008    497
2007    484
2006    414
2005    383
2004    353
2003    227
2002    152
2001     84
2000     41
1999     19
1998     11
1997      2
2017      1
1996      1
Name: Dog_Bday, dtype: int64

In [69]:
df['Dog_Gender'].value_counts()

w    3608
m    3547
Name: Dog_Gender, dtype: int64

In [70]:
df['Race_2'].value_counts()

Labrador Retriever    39
Pomeranian            25
Border Collie         24
Pudel                 22
Golden Retriever      21
                      ..
Toller                 1
Bearded Collie         1
Samojede               1
Irish Terrier          1
Shiba Inu              1
Name: Race_2, Length: 118, dtype: int64

In [71]:
import matplotlib.pyplot as plt
import seaborn as sns

df.dtypes

ID              int64
Age            object
Gender         object
Town          float64
District      float64
Race_1         object
Race_2         object
Dog_Bday        int64
Dog_Gender     object
Color          object
dtype: object

In [77]:
df['Age'].describe()

count      7154
unique        9
top       51-60
freq       1547
Name: Age, dtype: object

In [82]:
789/7154

0.11028795079675706